*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;

}

.body{
    width: 100%;
}

.header{
    width: 100%;
    border-bottom: 2px solid #B17E57;
    height: 100px;
    background-image: url("backgroundimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-size: 25px;
}

.container{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    list-style: none; /* tirar bolinhas da lista */
}

.navbar li{
    margin-right: 10px;
    cursor: pointer;
    
}


.div_A, .div_B, .div_C, .div_D{
    background-color: rgba(228, 165, 113, 0.503);
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 18px;
    border: 2px solid black;
    flex-grow: 1;
    margin: 0 5px;
    width: calc(25% - 20px); 
    font-size: 20px;
    margin-top: 40px;
}



.logo {
    width: 50px;
    display: block;
    margin-right: 10px;

}

.logo_texto{
    display: flex;
    align-items: center;
    cursor: pointer;
} 

.graficoContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.graficoLinha, .graficoColuna{
    position: relative;
    height: 50vh;
    width: 50vw;
}
