* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
   
   /*background-color: #78451A;   #b17e57 */
    background-image: url("backgroundimage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 18px;

}

.login {
    background-color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    align-items: center;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 10px 10px 20px rgba(0, 0, 0, 0.4);
    width: 400px;

}

input, button{
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
   
}

button{
    cursor: pointer;
    font-weight: bold;
 
}

h1{
    text-align: center;
    margin-top: 20px;
}


.login a{
    color: black;
    text-decoration: none;
   
}

.logo{
    width: 50px;
    display: block;
    margin: 0 auto;
  
}

.manterLogin_btn{
    width: 10px; 
    height: 10px;
}

.textoContainer{
    display: flex;
    font-size: 15px;
}

.esqueceuSenhaTexto{
    display: flex;
    justify-content: space-between;
    margin-left: auto;
  
}


.manterLoginTexto{
    margin-right: 10px;
    margin-left: 5px;
}