@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-size: large;
}

.logo img {
    width: 50%;
}

.navbar button {
    padding: 10px 20px 10px 30px;
    border-radius: 100px;
    border: none;
    background-color: black;
    color: #ffff;
}

.navbar button a {
    color: #ffff;
}

.linha {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    background-color: black;
    color: #ffff;
}

.banner {
    width: 100%;
    height: 500px;
    background: url(imagens/banner.png);
    background-size: cover;

}

.sensor {
    width: 100%;
    height: 500px;
    background: url(imagens/sensor.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.sensor span {
    font-weight: 500;
    font-size: 100px;
    color: #ffff;
}

.sensor h4 {
    font-size: 30px;
    color: #ffff;
}

.planos {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.planos a {
    color: #ffff;
    font-size: 30px;
}

.sub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carrosel {
    margin: 0 auto;
    padding-top: 0px;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
    align-items: center;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 100%;
}

.texto1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Cor do texto */
    font-size: 18px;
    /* Tamanho da fonte */
    text-align: center;
    /* Alinhamento do texto */
}

.texto2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Cor do texto */
    font-size: 18px;
    /* Tamanho da fonte */
    text-align: center;
    /* Alinhamento do texto */
}

.texto3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* Cor do texto */
    font-size: 18px;
    /* Tamanho da fonte */
    text-align: center;
    /* Alinhamento do texto */
}


.nomes {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #fff;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;

}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio:checked~.navegation .auto1 {
    background-color: #fff;
}

#radio:checked~.navegation .auto2 {
    background-color: #fff;
}

#radio:checked~.navegation .auto3 {
    background-color: #fff;
}


.footer {
    width: 100%;
    height: 200px;
    background-color: #5a3831aa;

}

.footer .logo img {
    width: 70%;
}

.caixa {
    
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    align-items: center;
    /* margin: 10px; */
    margin-top: 0;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes span {
    font-size: 25px;
}

.fundocaixa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.texto {
    display: flex;
    flex-direction: column;

}

.texto a {
    font-size: 20px;
}

.email {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}








/* Style da calculadora financeira */












/* body{
    margin: 0;
    padding: 30px;
    background-image: url("BackGround\ Chocolate.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    font-family: 'poppins';
} */

h2{
    font-family: 'Poppins';
    font-size: xx-large;
    text-align: center;
    color: white; 
    -webkit-text-stroke: 2px black; font-size: 50px;
    }



.container{
    width: 80%;
    margin: 0 auto;
    border: 2px solid #f0eeee;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.734);
    

}


.paginaToda {

    
   
    /* margin-top: 10px; */
    padding: 30px;
    background-image: url("imagens/PrimeiraArea.png");
    background-repeat:no-repeat;
    background-size: cover;
    
    
    
}

#select_TiposChocolate{
display: block;
margin: 0 auto;

}

#labelSelect{

text-align: center;

}

label {
display: block;
margin-bottom: 5px; 
}

input {
width: 100%;
padding: 8px;
margin-bottom: 15px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;


}


.btn{
/* font-family: sans-serif;
font-weight: 500;
font-size: 15px;
color: #000000;
background-color: #0066cc00;
padding: 10px 36px;
margin-left: 40%;
border: solid #736f4b42 1px;
box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
border-radius: 0px 1px 1px;
transition : 613ms;
transform: translateY(0);
align-items: center;
cursor: pointer;
text-transform: lowercase;
text-align: center; */


background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(102, 102, 102, 0.8) 238.33%);
            padding: 7px;
            border-radius: 30px;
            color: white;
            font-weight: bold;
            font-size: 13px;
            cursor: pointer;
            text-align: center;
            align-items: center;
            padding: 10px 70px;
            margin-left: 33%;

}

.btn:hover{
transition : 613ms;
transform : translateY(-0px);
color: #c27e30;
border: solid 1px #c27e30;
}


.result{
margin-top: 20px;
font-family: 'Poppins', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
font-size: 20px;
}

