@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0; 
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}



body{
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    background-color: #FFFFFF;
    min-width: 100vw;
    flex-direction: row;
}



.maior{
    display: flex;
}



.menu{
    display: flex;
    flex-direction: column;
    background-image: url('./../assets/backimg_dash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    list-style: none;
    font-size: 25px;
    width: 300px;
    height: 100vh;
    /* position: fixed; */
}

.logoContainer{
    display: flex; 
    align-items: center; 
    cursor: pointer;

}


.fotoLogo {
    display: flex;
    width: 80px;
    margin-top: 80px;
    margin-left: 10px;
    cursor: pointer;
}


.logoTexto {
    font-size: 25px; 
    cursor: pointer; 
    margin-top: 80px;

}

ul{
    text-align: center;
    align-items: center;
    margin-top: 50%;
    cursor: pointer;
}

.linha-horizontal {
    width: 200px;
    border: 1px solid #000;
    margin-top: 1rem;
    margin-left: 45px;
    /* align-items: center; */
}


.usuarioContainer{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.fotoUsuario{
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    display: flex;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 30px;
    justify-content: space-around;
}

.usuarioInformacoes {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
}

.usuarioInformacoes span:last-child {
    flex-direction: column;
    font-size: 12px;
}


.descricao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}


.header{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-top: 2rem;
    padding: 10px;
    position: fixed;
    left: 300px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;

}

#main {
    width: 20%; 
    height: 30%;
    display: flex;
    padding: 20px;

}


#bem-vindo {
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    font-size: 25px;

}



.configHeader{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 40%;
    height: 70%;
    margin-top: 5px;

}

#icons{
    display: flex;
    height: 30%;
    margin-top: 7px;
    flex-grow: 1;
    color:#422919; 
    font-size: 30px; 
    justify-content: flex-end;
    align-items: center;

}



.usuarioCabecalho{
    display: flex; 
    height: 30%;
    margin-top: 17px;
    flex-direction: row; 
    width: 60%;  
    flex-grow: 1;
    margin-left: 5rem;
    align-items: center;
    /* justify-content: flex-end; */
}


.fa-solid fa-chevron-down {
    display: flex;
    align-items: center;
    margin-left: 17rem;

}


.cardA, .cardB, .cardC, .cardD{
    background-color: #FFFBFE;
    border: 1px solid #DBDBDB;
    display: inline-block;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 0 16px;
    width: 15%; 
    font-size: 20px;
    margin-top: 200px;
    max-width: 300px;
   
}

.paragrafoCards{
    color: #BF1700;
}



.graficosContainer{
    display: flex;
    align-items: center;
    width: 100vw;
    margin-top: 100px;
    /* justify-content: space-evenly; */
}



.graficoLinha, .graficoColuna{
    flex-direction: row;
    height: 300px;
    /* margin: 0 10px; */
    margin: 50px;
}
