* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url("D:/projeto pi - Copia/web-data-viz/public/assets/backgroundimage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 16px;

}

.cadastro{
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    border-radius: 18px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), 10px 10px 20px rgba(0, 0, 0, 0.4);
    width: 600px;
    height: 600px;
 

}



input,
button {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}


input{
    border: none;
    display: flex;
    border-bottom: 1px solid black;
    background-color: transparent;
    outline: none;
}


button {
    cursor: pointer;
    font-weight: bold;
    border-radius: 30px;
    

}

h1 {
    text-align: center;
    margin-top: 20px;
}


.cadastro a {
    color: black;
    text-decoration: none;

}

.logo {
    width: 50px;
    display: block;
    margin: 0 auto;

}



